certifi==2021.5.30
click==7.1.2
flake8==4.0.1
Flask==2.0.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
Flask-Testing==0.8.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mongomock==3.23.0
pymongo[srv]==3.12.0
sentinels==1.0.0
six==1.16.0
Werkzeug==2.0.2