<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Iceland&display=swap" rel="stylesheet">
    <title>Recommendations</title>
    <style>
        body {
            background: url('http://localhost/GitHub/fyp_game1/assets/backgrnd.jpg') no-repeat center fixed;
            background-size: cover;
        }

        .zoom {
            transition: transform .2s; /* Animation */
            width: 200px;
            height: 900px;
            margin: 0 auto;
        }

        .zoom:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

        li {
            list-style-type: none;
        }
        ul{
            margin: 0%;
        }
        .profile-name{
            text-align:center;
            margin: auto;
        }

    </style>
  </head>
  <body>
    <!--Header-->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand mx-0" href="https://endowus.com/">
          <img src="http://localhost/GitHub/fyp_game1/assets/endowus-logo.png" alt=""  height="60" class="d-inline-block align-text-top">
      </a>
      <ul>
        <li class="nav-item">
          <div class="btn-group dropleft">
              <a class="btn pr-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="http://localhost/GitHub/fyp_game1/assets/user-solid.svg" width="40" height="40" class="rounded-circle"> 
                  <div class="profile-name pr-2 mt-1" style="font-family: 'Press Start 2P', cursive; font-size: 10px; color: black;">{{ name }}</div>
              </a>
              <div class="dropdown-menu" style ="min-width: 7rem; font-family: 'Press Start 2P', cursive; font-size: 8px; color: black;">
                <!-- Dropdown menu links -->
                  <a class="dropdown-item px-2" href="/prev_recommendation">Recommendation</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item px-2" href="/lifestages">New</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item px-2" href="/logout">Log Out</a>
              </div>
          </div>
        </li> 
      </ul>
    </nav>

    <!-- Page Heading -->
    <div class="py-5">
        <div class="container px-sm-1">
            <div class="container p-4 px-5 bg-light rounded-3 text-center">
                <div class="m-2 mb-3">
                    <h3 style="font-family: 'Bungee', cursive; font-size: 32px;">Recommended Portfolios ✨</h3>
                    <h6 style="font-family: monospace; font-size: 18px;">{{ reason }}</h5>
                </div> 
                <!-- Card group-->
                <div class="card-group" id="card_rs">
                  {% for portfolio in portfolioFile %}
                    <div class="card border-flush">
                      <div class="card-header" style="font-size:14px;">
                        <img src="{{ portfolio.icon }}"  style="height:18px;" loading="lazy" alt="" class="invest-menu-icon">
                        {{ portfolio.type }}
                      </div>
                      <div class="card-body mx-3">
                        <img src="{{ portfolio.image }}" alt="" style="max-width:120px;">
                        <h5 class="card-title mt-3" style="font-family: 'Press Start 2P', cursive; font-size: 13px;">{{ portfolio.name }}</h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ portfolio.typeDesc }}</li>
                        <li class="list-group-item">{{ portfolio.details }}</li>
                        <li class="list-group-item">Invest with <strong>{{ portfolio.source }}</strong></li>
                      </ul>
                      <div class="card-body">
                        <a href="{{ portfolio.link }}" class="card-link">Learn more!</a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                  <a href="https://endowus.com/app/login">
                    <button class="btn btn-secondary btn-lg mt-3 mb-0" style="font-family: 'Press Start 2P', cursive; font-size: 12px;">Invest now!</button>
                  </a>
                  <a href="https://endowusgame.netlify.app/">
                    <button class="btn btn-primary btn-lg mt-3 mb-0" style="font-family: 'Press Start 2P', cursive; font-size: 12px;">Endowus Simulator</button>
                  </a>
            </div>
        </div>
    </div>
       <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
     </body>
</html>